# self
Dockerfile
docker-compose.yml

# git
.git
.gitignore

# enviroments
.env
.env.*

# artifacts
bin/

# dependencies
vendor/

# stuff
README.md
*.md
*.log

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
# Windows
Thumbs.db